convert/src/main/resources/countries.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://dinhnguyen.techs/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://locahost:8090" targetNamespace="http://locahost:8090">
<wsdl:types>
<xs:schema xmlns:tns="http://dinhnguyen.techs/soap" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://dinhnguyen.techs/soap">
<xs:element name="getCountryRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getCountryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="country" type="tns:country"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="country">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="population" type="xs:int"/>
<xs:element name="capital" type="xs:string"/>
<xs:element name="currency" type="tns:currency"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="currency">
<xs:restriction base="xs:string">
<xs:enumeration value="GBP"/>
<xs:enumeration value="EUR"/>
<xs:enumeration value="PLN"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="addCountryRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="population" type="xs:int"/>
<xs:element name="capital" type="xs:string"/>
<xs:element name="currency" type="tns:currency"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="addCountryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="population" type="xs:int"/>
<xs:element name="capital" type="xs:string"/>
<xs:element name="currency" type="tns:currency"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="getCountryRequest">
<wsdl:part element="sch:getCountryRequest" name="getCountryRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="addCountryRequest">
<wsdl:part element="sch:addCountryRequest" name="addCountryRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="addCountryResponse">
<wsdl:part element="sch:addCountryResponse" name="addCountryResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getCountryResponse">
<wsdl:part element="sch:getCountryResponse" name="getCountryResponse"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="Country">
<wsdl:operation name="getCountry">
<wsdl:input message="tns:getCountryRequest" name="getCountryRequest"> </wsdl:input>
<wsdl:output message="tns:getCountryResponse" name="getCountryResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="addCountry">
<wsdl:input message="tns:addCountryRequest" name="addCountryRequest"> </wsdl:input>
<wsdl:output message="tns:addCountryResponse" name="addCountryResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CountrySoap11" type="tns:Country">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getCountry">
<soap:operation soapAction=""/>
<wsdl:input name="getCountryRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getCountryResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="addCountry">
<soap:operation soapAction=""/>
<wsdl:input name="addCountryRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="addCountryResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CountryService">
<wsdl:port binding="tns:CountrySoap11" name="CountrySoap11">
<soap:address location="http://localhost:8090/soap"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>